# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# uv temporary or cache files
.uv/
uv.lock

# Virtual environment
.venv/
env/

# Optional local Python version setting (if you don't want to enforce it)
.python-version

